`
<footer class="footer">
    <p class="footer__text">
        1989&ndash;2020 &copy; Международный Мемориал.<br />
        При использовании любых материалов сайта ссылка на&nbsp;memo.ru
        обязательна.<br />
        4 октября 2016 года Минюст РФ&nbsp;внес Международный Мемориал
        в&nbsp;реестр &laquo;некоммерческих организаций, выполняющих функцию
        иностранного агента&raquo;. <a target="_blank" href="https://www.memo.ru/ru-ru/memorial/departments/intermemorial/news/22">Мы&nbsp;обжалуем это решение&nbsp;в&nbsp;суде</a><br />
        Техническая часть сайта&nbsp;&mdash; <a href="https://ru.itpp.dev/">Айти‑Проджектс&nbsp;Лабс</a>.
    </p>
    <a href="/" class="footer__logo"><img src="/memo.svg"/></a>
    </footer>

<script>
 $(document).ready(function() {

     // Check for click events on the navbar burger icon
     $(".navbar-burger").click(function() {

         // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
         $(".navbar-burger").toggleClass("is-active");
         $(".navbar-menu").toggleClass("is-active");

     });
 });
</script>

{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
