
<section class="section section-footer">
    <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
  </div>
</section>
<script>
 $(document).ready(function() {

     // Check for click events on the navbar burger icon
     $(".navbar-burger").click(function() {

         // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
         $(".navbar-burger").toggleClass("is-active");
         $(".navbar-menu").toggleClass("is-active");

     });
 });
</script>

{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
