    <nav class="navbar level">
        <div class="navbar-brand">
<!--
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
            </a>
-->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

      <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ .Site.BaseURL }}" class="navbar-item" >{{ .Site.Title }}</a>
                <a href="/about/" class="navbar-item">О проекте</a>
                <a href="/history/" class="navbar-item">История осуждений по спискам</a>
            </div>
            <div class="navbar-end">

                <a href="/all-lists/" class="navbar-item">Просмотр списков</a>

                <a href="/search/" class="navbar-item" id="nav-search-button">Поиск</a>
                <a href="/sources/" class="navbar-item">Источники</a>

            </div>
      </div>

    </nav>
