<header>
  <span class="mobile-nav__switch"></span>
  <div class="mobile-nav">
    <div class="nav">
      <a href="{{ .Site.BaseURL }}" class="nav__item">{{ .Site.Title }}</a>
      <a href="/about/" class="nav__item">О проекте</a>
      <a href="/history/" class="nav__item">История осуждений по спискам</a>
      <a href="/all-lists" class="nav__item">Просмотр списков</a>
      <a href="/search/" class="nav__item">Поиск</a>
      <a href="/sources/" class="nav__item">Источники</a>
    </div>
  </div>
</header>
