<div class="container">
    <nav class="navbar level">
        <div class="navbar-brand">
<!--
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
            </a>
-->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

      <div class="navbar-menu">
            <div class="navbar-start">
               <a class="navbar-item" href="{{ .Site.BaseURL }}"><h1 class="title is-3">{{ .Site.Title }}</h1></a>
            </div>
            <div class="navbar-end">
                <a href="/search/" class="navbar-item">
                    <h1 class="title is-3">
                        Поиск
                    </h1>
                </a>
                <a href="/about/" class="navbar-item">
                    <h1 class="title is-3">
                        О проекте
                    </h1>
                </a>
            </div>
      </div>

    </nav>
  </div>
