{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
    <h2 id="person_name" class="subtitle is-size-4-mobile is-size-3-desktop">{{ .Title }}</h2>
    <div class="content">

        {{ $data := index .Site.Data.persons .File.BaseFileName }}
        {{ $spravki := index .Site.Data.spravki .File.BaseFileName }}

        {{ range $spravki }}
        <p>
        {{ replace .spravka "\n" "<br/>" | safeHTML }}
        <br/>
        <b>Источник:</b> <em>{{ .source }}</em>
        </p>
        {{ end }}

        {{ $edit_url := .Site.Params.spravki.edit_url }}
        {{ $edit_title := "Редактировать справки" }}
        {{ if not $spravki }}
        {{ $edit_title = "Добавить справку" }}
        {{ $edit_url = .Site.Params.spravki.new_url }}
        {{ $edit_url = replace $edit_url "{BODY}" .Site.Params.spravki.new_body }}
        {{ end }}

        {{ $edit_url = replace $edit_url "{FILENAME}" .File.BaseFileName }}

        <p id="edit_button" style="display:none"><a target="_blank" href="{{ $edit_url }}">{{ $edit_title }}</a></p>

        {{ if $data.fond7.text_lines }}
        <h1 id="7fond">7-й фонд ЦА ФСБ</h1>
        {{ range $data.fond7.text_lines }}
           <p>{{ . }}</p>
        {{ end }}
        {{ end }}

        {{ if $data.gb_spravka.html }}
        <h1 id="gb">Версия следствия</h1>
        {{ $data.gb_spravka.html | safeHTML }}
        {{ end }}
        {{ range $data.gb_spravka.pages }}
        <img src="/{{ .picture }}"/>
        {{ end }}

        <h1 id="spiski">Списки</h1>
        {{ range $data.lists }}
            <p><a href="{{ .url }}">{{ .title }}</a></p>
        {{ end }}

        </div>
</div>


        {{ partial "jsshare" . }}
        {{ partial "disqus" . }}
        {{ partial "footer" . }}

<script type="text/javascript">
var ctrlKey;
 $('#person_name').on('dblclick', function(){
    if (ctrlKey){
        $('#edit_button').show()
    }
 })
 $(document).on('keydown keyup', function(event) {
     ctrlKey = event.ctrlKey;
 })

</script>
