{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
    <h2 class="subtitle is-size-4-mobile is-size-3-desktop">{{ .Title }}</h2>
    <div class="content">

        {{ $data := index .Site.Data.persons .File.BaseFileName }}
        {{ $spravki := index .Site.Data.spravki .File.BaseFileName }}

        {{ range $spravki }}
        <p>
        {{ replace .spravka "\n" "<br/>" | safeHTML }}
        <br/>
        <b>Источник:</b> <em>{{ .source }}</em>
        </p>
        {{ end }}

        <h1>Версия следствия</h1>
        {{ $data.gb_spravka.html | safeHTML }}
        </div>
</div>

        {{ partial "jsshare" . }}
        {{ partial "disqus" . }}
        {{ partial "footer" . }}
