{{ partial "header" . }}
{{ partial "nav" . }}
{{ $data := index .Site.Data.lists .File.BaseFileName }}
<div class="container">
    <h2 class="subtitle is-size-4-mobile is-size-3-desktop">{{ $data.archive.ref }}, лист {{ $data.archive.page1 }}</h2>
    <div class="content">


<div class="pages">
{{ range $data.pages }}
    <div id="image-{{ .pageintom }}"><img data-src="/disk/pictures/{{ .image }}"/></div>
{{ end }}
</div>
<div class="pages-preview is-hidden-mobile">
    {{ range $data.pages }}
    <span><img width="30" src="/disk/pictures-small/{{ .image }}"/></span>
    {{ end }}
</div>
<script type="text/javascript">
 var target = window.location.hash;
 var target_index = 0;
 if (target.indexOf("#image-") != -1 ){
     target_index = $('.pages > div').index($(target));
 }

 window.slider = tns({
     startIndex: target_index,
     container: ".pages",
     gutter: 5,
     navContainer: ".pages-preview",
     mouseDrag: true,
     navAsThumbnails: true,
     arrowKeys: true,
     controls: false,
     lazyload: true,
 });
</script>


{{ range $data.pages }}
{{ if .sublists }}
   {{ $pageintom := .pageintom }}

<div id="page-{{ $pageintom }}" class="mt-5 is-clearfix">

    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <h4>Список от {{ $data.date_ru }}{{ if .title }} [{{ .title}}]{{ end }}<span class="is-size-2">&nbsp;<span></h4>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <h4 class="has-text-right"><span>{{ $data.archive.ref }}, лист </span><span class="is-size-2">{{ $pageintom }}</span></h4>
            </div>
        </div>
    </nav>


    <div class="page-image page-image-preview is-pulled-right ml-5">
        <img src="/disk/pictures-medium/{{ .image }}"/>
    </div>


<div class="page-text">

{{ range .sublists }}
    {{ range .persons }}

{{ if .subtitle1 }}
    <div class="columns is-mobile is-gapless">
        <div class="column person-num is-3 mr-3">&nbsp;</div>
        <div class="column person-name is-8">
        {{ .subtitle1 | safeHTML }}
        </div>
    </div>
{{ end }}

    <div class="columns is-mobile is-gapless">
        <div class="column person-num has-text-right is-3 mr-3">
{{ if .doublesexists }}
            <a href="/persons/p{{ .id }}#spiski" title="Встречается в нескольких списках"><i class="fas fa-list"></i></span></a>
{{ end }}
{{ if .gb_spravka }}
            <a href="/persons/p{{ .id }}#gb-{{ $data.id }}" title="Имеется версия следствия"><i class="fas fa-id-card"></i></span></a>
{{ end }}
{{ if .spravka }}
            <a href="/persons/p{{ .id }}#spravka" title="Имеется дополнительная информация"><i class="fas fa-book"></i></span></a>
{{ end }}
            <span class="ml-1">{{ .num }}.</span>
        </div>

        <div class="column person-name{{ if $data.name_align_center }} has-text-centered{{ end }} {{ if $data.two_columns }}is-5{{ else }}is-9{{ end }}">
            <p id="person-{{ $pageintom }}-{{ .num }}-{{ .rowinpage }}"
               class="person{{ if .striked }} striked{{ end }}{{ if .underlined }} underlined{{ end }}">
                <span class="person-name">{{ .name | safeHTML }}</span>&nbsp;
{{ if .pometa_text }}
                <span class="pometa">{{.pometa_text}}</span>
{{ end }}
{{ if .primcoc }}
                <span class="pometa">{{ .primcoc }}</span>
{{ end }}
            </p>
        </div>
{{ if .primzv }}
        <div class="column person-zv is-4 ml-3">{{ .primzv }}</div>
{{ end }}
    </div>



    {{ end }}
{{ end }}
    </div>
    <div class="is-hidden page-image">
        <img data-src="/disk/pictures/{{ .image }}"/>
    </div>

</div>

{{ end }}
{{ end }}


        </div>
</div>

        {{ partial "jsshare" . }}
        {{ partial "disqus" . }}
        {{ partial "footer" . }}
