<div class="container">
    {{ partial "header" . }}
    {{ partial "nav" . }}
    <main class="container">
        {{ .Content }}

        <form id="search_form">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">ФИО</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input name="lastname" class="input" type="text" placeholder="Фамилия">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <input name="firstname" class="input" type="text" placeholder="Имя">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <input name="midname" class="input" type="text" placeholder="Отчество">
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Поиск по всем данным</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="global_search" class="input" type="text" placeholder="Например, студент">
                        </div>
                    </div>
                </div>
            </div>

        </form>



    </main>
    {{ partial "footer" . }}
</div>

<script type="text/javascript">

</script>
