{{ partial "header" . }}
{{ partial "nav" . }}
<script>
 ES_URL="{{ .Site.Params.elasticsearch.url }}";
</script>

<div class="container">
    <main class="container">
        {{ .Content }}

        <form id="search_form">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li id="search_persons" class="is-active">
                        <a>Поиск персоналий</a>
                    </li>
                    <li id="search_lists">
                        <a>
                            Поиск списков
                        </a>
                    </li>
                    <li id="clear_form">
                        <a>
                            Очистить
                        </a>
                    </li>
                </ul>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">ФИО</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input name="lastname" class="input" type="text" placeholder="Фамилия">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <input name="firstname" class="input" type="text" placeholder="Имя">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <input name="midname" class="input" type="text" placeholder="Отчество">
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Поиск по всем данным</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="global_search" class="input" type="text" placeholder="Например, студент">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Дата списка</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input name="date_from" disabled class="input" type="text" placeholder="01.12.1937">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input name="date_to" disabled class="input" type="text" placeholder="31.12.1937">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Архив</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="korpus" required>
                                    <option value="0">[Корпус]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="tom">
                                    <option value="0">[Том]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Регионы и Группы</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="geo" required>
                                    <option value="0">[Регион]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="group">
                                    <option value="0">[Группа]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label"></label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="geosub" required>
                                    <option value="0">[Подрегион]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="kat" required>
                                    <option value="0">[Категория]</option>
                                    <option value="1">1-я категория</option>
                                    <option value="2">2-я категория</option>
                                    <option value="3">3-я категория</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Пометы</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox" style="text-decoration: underline">
                                <input name="underlined" type="checkbox">
                                Подчеркнут
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox" style="text-decoration: line-through">
                                <input name="striked" type="checkbox">
                                Вычеркнут
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="pometa" type="checkbox">
                                Пометы<sup>"10 лет" и др.</sup>
                            </label>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Подписи</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signstalin" type="checkbox" disabled>
                                Сталин
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signmolotov" type="checkbox" disabled>
                                Молотов
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signjdanov" type="checkbox" disabled>
                                Жданов
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signkaganovic" type="checkbox" disabled>
                                Каганович
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signvoroshilov" type="checkbox" disabled>
                                Ворошилов
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signmikoyan" type="checkbox" disabled>
                                Микоян
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signejov" type="checkbox" disabled>
                                Ежов
                            </label>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="checkbox">
                                <input name="signkosior" type="checkbox" disabled>
                                Косиор
                            </label>
                        </p>
                    </div>
                </div>
            </div>

        </form>

        <div id="results">
        </div>

    </main>
    {{ partial "footer" . }}
</div>

<script type="text/javascript">

</script>
