<div class="container">
  {{ partial "header" . }}
  {{ partial "nav" . }}
  <main class="container">
  {{ .Content }}

  {{ $korps := .Site.Data.korps }}

  {{ range $korps}}
    {{/* TODO: use partial to avoid code duplicates */}}
    {{ if .sub }}
      <p> {{ .name }} </p>
      <div class="ml-3">
      {{ range .sub }}
          {{ if .sub }}
              <p data-action="collapse" data-target="#{{ .id }}">
                  <span  class="js-element"> {{ .name }} </span>
              </p>
              <div class="ml-3 is-collapsible is-hidden" id="{{ .id }}">
              {{ range .sub }}
                  <p>
                      <a href="/lists/list{{ .listid }}">{{ .name }} </a>
                  </p>
              {{ end }}
              </div>
          {{ else }}
          <p>
              <a href="/lists/list{{ .listid }}">{{ .name }} </a>
          </p>

          {{ end }}
      {{ end }}
      </div>
    {{ else if .listid }}
      <p>
          <a href="/lists/list{{ .listid }}">{{ .name }} </a>
      </p>
    {{ else }}
      <p>
          <span>{{ .name }} </span>
      </p>
    {{ end }}

  {{ end }}


  </main>
  {{ partial "footer" . }}
</div>

<script type="text/javascript">
 $('[data-action="collapse"]').on('click', function(){
     $button = $(this);
     $container = $($button.attr('data-target'));
     $container.toggleClass('is-hidden');
 })

</script>
