p:target {
    background-color: #ffa;
}

div:target {
    box-shadow: 5px 5px 2px;
}
.person.striked>.num-name {
    text-decoration: line-through;
}
.person.underlined {
    text-decoration: underline;
}
.person .pometa {
    font-style: italic;
}

.js-element {
    border-bottom: 1px dashed #760411;
    cursor: pointer;
}

.section-footer{
    font-size: 0.8em;
    padding: 4rem 1.5rem 0;
}

.section-footer a{
    color: #4a4a4a;
    text-decoration: underline;
}

.page-image-preview{
    max-width:300px;
}
@media screen and (max-width: 768px) {
    .page-image-preview{
        max-width:50px;
    }
}
/* Make tabs responsive
*/
@media screen and (max-width: 768px) {
    .tabs ul {
	      flex-direction: column;
    }
    .tabs ul li {
	      width: 100%;
    }
}
