BODY
{
        background-repeat: repeat-y;
}

P.pers {
	text-align:justify;
	text-indent:-100px;
	margin-right:0.4em;
	margin-bottom:0em;
	padding-bottom:0em;
	margin-left:100px;
	margin-top:0em;
	padding-top:0em;
}
