P {
	text-align:justify;
	text-indent:20px;
	margin-right:0.4em;
	margin-bottom:0em;
	padding-bottom:0em;
	margin-left:1em;
	margin-top:0em;
	padding-top:0em;
	font-size: 0.9em;
}
P.tbl {
	text-align:left;
	text-indent:-150px;
	margin-right:0.1em;
	margin-bottom:0em;
	padding-bottom:0em;
	margin-left:160px;
	margin-top:0em;
	padding-top:0em;
	font-size: 0.9em;
}
P.tbl2 {
	text-align:justify;
	text-indent:-5px;
	margin-right:0.1em;
	margin-bottom:0em;
	padding-bottom:0em;
	margin-left:20px;
	margin-top:0em;
	padding-top:0em;
	font-size: 0.9em;
}
P.MsoEndnoteText {
	font-size: 0.8em;
}
li {
	text-align:justify;
	text-indent:0px;
	margin-right:0.4em;
	margin-bottom:0em;
	padding-bottom:0em;
	margin-left:0em;
	margin-top:0em;
	padding-top:0em;
	font-size: 0.9em;
}
SUP {
	font-size: 0.8em;
}
H1 {
	text-align:left;
	margin-right:0.4em;
	margin-bottom:1em;
	padding-bottom:0em;
	margin-left:1em;
	margin-top:1em;
	padding-top:0em;
	font-size: 1.2em;
}
H2 {
	text-align:left;
	margin-right:0.4em;
	margin-bottom:1em;
	padding-bottom:0em;
	margin-left:1em;
	margin-top:1em;
	padding-top:0em;
	font-size: 1.2em;
}
