.red-text, a, .navbar-item, .navbar-link, .label  {
    color: #9E0B0F;
}
.underlined-text {
    text-decoration: underline;
}

p:target {
    background-color: #ffa;
}

div:target {
    box-shadow: 5px 5px 2px;
}
.person.striked>.person-name {
    text-decoration: line-through;
}
.person.underlined {
    text-decoration: underline;
}
.person .pometa {
    font-style: italic;
}

.js-element {
    border-bottom: 1px dashed #760411;
    cursor: pointer;
}

.section-footer{
    font-size: 0.8em;
    padding: 4rem 1.5rem 0;
}

.section-footer a{
    text-decoration: underline;
}

.page-image-preview{
    max-width:300px;
}

.tns-nav-active img {
    border: 3px solid black;
}
@media screen and (max-width: 768px) {
    .page-image-preview{
        max-width:50px;
    }
}
.pages-preview span{
    margin: 2px;
}


@media screen and (min-width: 769px) {

    .page-text{
        width: 550px;
    }

}
@media screen and (max-width: 768px) {
    .person-num {
        width: 85px !important;
    }
}

/* Make tabs responsive
*/
@media screen and (max-width: 768px) {
    .tabs ul {
	      flex-direction: column;
    }
    .tabs ul li {
	      width: 100%;
    }
}
/* form */


@media screen and (min-width: 769px), print {
    .field-body>.field:not(:last-child) {
        margin-right: 0;
    }
}
