p:target {
    background-color: #ffa;
}

div:target {
    box-shadow: 5px 5px 2px;
}
.person.striked {
    text-decoration: line-through;
}
.person.underlined {
    text-decoration: underline;
}
.person .pometa {
    font-style: italic;
}


/* Make tabs responsive
*/
@media screen and (max-width: 768px) {
    .tabs ul {
	      flex-direction: column;
    }
    .tabs ul li {
	      width: 100%;
    }
}
